<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="false" password="david840" userName="Isaac" />
        <roleManager enabled="true" />
        <sessionState cookieless="AutoDetect" />
        <authentication mode="Windows">
            <forms protection="None" />
        </authentication>
        <pages enableViewStateMac="true" />
        <membership defaultProvider="AspNetSqlMembershipProvider" />
    </system.web>
    <system.webServer>
        <security>
            <authorization>
                <add accessType="Allow" users="Isaac" />
            </authorization>
        </security>
    </system.webServer>
</configuration>
